on:
    workflow_call:
jobs:
    commit:
        name: Commit messages
        permissions:
            contents: read
        runs-on: ubuntu-latest
        steps:
        - uses: opensource-nepal/commitlint@v1
    markdown:
        name: Markdown
        permissions:
            contents: read
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6
        - uses: DavidAnson/markdownlint-cli2-action@v21
          with:
            fix: true
            globs: |
                **/*.md
                !CHANGELOG.md
    cspell:
        name: Spelling
        permissions:
            contents: read
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6
        - uses: streetsidesoftware/cspell-action@v8
          with:
            config: .cspell.json
